.clientes-agregar{
    grid-area: main;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.clientes-agregar > form{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.clientes-agregar > form > div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    gap: 0.1rem;
    position: relative;
}

.clientes-agregar > form > div > input{
    border: none;
    border-bottom: 1px solid black;
    height: 1.5rem;
    outline: none;
}

.clientes-agregar > form > div > input:focus{
    border: none;
    border-bottom: 2px solid black;
}

.clientes-agregar > form > div > input[type="submit"]{
    border: 1px solid black;
    background-color: white;
    cursor: pointer;
    transition: 0.4s ease all;
    font-size: 1rem;
    font-weight: bold;
}

.clientes-agregar > form > div > input[type="submit"]:hover{
    background-color: green;
    transition: 0.4s ease all;
}

.clientes-agregar > form > div > label{
    font-weight:500;
}



.form-err{
    color: red;
    text-align: center;
    font-size: 1rem;
}

.form-succ{
    color: green;
    text-align: center;
    font-size: 1rem;
}